@charset "utf-8";


div.content{
    width : 100%;
    max-width: 1920px;
    margin : 0 auto;
    padding-top : 100px;
}
.content div.titbox{
    padding-top : 30px;
    margin-bottom: 30px;
    text-align: center;
}
.content .titbox h2{
    font-size : 24px;
    font-size : 1.5rem;
    font-weight: 700;
    color : #333;
    margin-bottom: 5px;
}
.content .titbox p{
    font-size : 16px;
    font-size : 1rem;
    font-weight: 400;
    color : #333;
    line-height : 1.2;
}
.content div.tabmenu{
    width : 100%;
    text-align: center;
}
.content .tabmenu ul{
    display: inline-block;
}
.content .tabmenu ul li ~ li{
    margin-left : 20px;
}
.content .tabmenu ul li a{
    font-size : 14px;
    font-size : 0.875rem;
}
li.active a{
    background-color: #f1b300;
    border : 1px solid #f1b300;
    color : #fff;
}

main{
    width : 100%;
    max-width: 1920px;
    min-height : 950px;
    margin: 0 auto;
    margin-bottom: 50px;
}
main .container{
    padding : 30px 0 50px 0;
}
main .container .item_container div.itembox{
    float : left;
    width : 24%;
    margin-bottom: 20px;
    padding : 20px;
    box-sizing: border-box;
    border : 1px solid #eee;
    /* 초기값 */
    display : none;
}
main .container .item_container .itembox ~ .itembox{
    margin-left : 1.3%;
}
main .container .item_container .itembox:nth-child(4n + 1){
    margin-left: 0;
}
main .container .item_container .itembox div.imgbox{
    width : 100%;
    margin-bottom: 10px;
    overflow: hidden;

}main .container .item_container .itembox div.imgbox:hover img{
    transform: scale(1.1);
}
main .container .item_container .itembox .imgbox img{
    width : 100%;
    display: block;
    transition: all 0.5s ease-in-out;
}
main .container .item_container .itembox div.txtbox{
    text-align: left;
}
main .container .item_container .itembox .txtbox h3{
    font-weight: 500;
    line-height: 1.2;
    height : 40px;
    word-break: keep-all;
}
main .container .item_container .itembox .txtbox p{
    font-weight: 300;
}


/* 더보기 버튼 */
main a{
    margin: 0 auto;
}


.innercontent{
    width : 100%;
    max-width : 1320px;
    margin : 0 auto;

    /* outline: 10px solid gold; */
}